/* *all Common Css Strat  */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline:0;
}
a{
  text-decoration: none;
}
ul{
  list-style-type: none;
}

h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
  line-height: 1.2; 
}
body{
  font-family:  "Inter", sans-serif;
}
.conteinar{
  width: 1320px;
  margin: 0 auto;
}
/* *all Common Css Strat  */

/* *headerPart Start  */
#headerPart{
  /* background: #94a6ef; */
  padding: 30px 0;
}
.headerFlex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu ul{
  display: flex;
}
.menu ul li a{
  padding: 0 25px;
 font-weight: 400;
 font-size: 18px;
 color: #181818; 
 transition: .4s;
}
.menu ul li:hover a{
color: #5956E8; 
}
.btn a{
  background: #5956E8;
  border-radius: 10px;
  padding: 18px 22px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}
/* *headerPart End */

/* *start HeroSectoin start */
#heroSection{
padding-top: 182px;
padding-bottom: 185px;
background-color: #5956E8;
}
.bannerFlex{
  display: flex;
  justify-content: space-between;
}
.bannerText{
  width: 540px;
  
}

.bannerText h1{
  
color:#ffffff ;
font-size: 65px;
font-weight: 700;
line-height: 80px;
padding-bottom: 32px;
margin-top: 77px;
}
.bannerText p{ 
color:#ffffff ;
font-size: 16px;
font-weight:200;
line-height: 27px;
}
.bannerText .botton {
  display: inline-block;
  color: #5956E8;
  background-color: #ffffff;
  margin-top: 40px;
  padding: 16px 35px;
  border-radius: 10px;

}



.bannerCartoon{
  width: 470px;
}

/* *start HeroSectoin End */

/* *start servicePart */
.serviceText{
  width: 542px;
  margin: 0 auto;
  text-align: center;
  margin-top: 110px;
}
.serviceText h3{
 font-size: 40px;
 font-weight: 700;
 color: #181818;
}
.serviceText p{
 font-size: 16px;
 font-weight: 400;
 color: rgba(24, 24, 24, 0.702);
 padding: 60px 0;
}
.serviceFlex{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap:83px ;
 
}

.boxOne{
  width: 370px;
  border: 1px solid #E3E3E3;
  padding: 62px 45px;
}
.boxOne:hover{
 
  border: 1px solid #e3e3e314;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  
}

.boxOne h3{
 font-size: 25px;
 font-weight: 700;
 color: #181818;
 padding: 35px 0;
}
.boxOne p{
 font-size: 16px;
 font-weight: 400;
 color: rgba(24, 24, 24, 0.702);

}
/* *End servicePart */

 /* ?start Portfolio part  */
 #portfolioPart{
  padding: 100px 0;
 }
 .PortfolioText{
  width: 542px;
  margin: 0 auto;
  text-align: center;
 }
 .PortfolioText h3{
  font-size: 40px;
  font-weight: 700;
  color: #181818;
 }
  .PortfolioText p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(24, 24, 24, 0.702);
    padding-top: 30px;
   padding-bottom: 58px;

 }
 .portfolioFlex {
  display: flex;
  justify-content:space-between;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 80px;
 }

.portfolioItem img{
  width: 100%;
}
.portfolioItem{
position: relative;
width: 270px;

}
.portfolioDitels{
  padding: 28px 40px;
  width: 230px;
  background: #5956E8;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  opacity: 0;
  visibility:hidden ;
  transition:.4s
}
.portfolioItem:hover .portfolioDitels{
  opacity: 1;
  visibility: visible;
}

.portfolioDitels h3{
 font-size: 20px;
 font-weight: 600;
 line-height: 27px;
 color:#ffffff;
}
.portfolioDitels p{
 font-size: 18px;
 font-weight: 300;
 line-height: 27px;
 color:#ffffff;
 padding-top: 15px;
 display: inline-block;

}
.fa-solid {
  color: #ffffff;
  padding-left: 15px;
}
.image-container{
  width: 370px;
  position: relative;
}
.imgText{
  width: 134px;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  bottom: 42px;
  left: 50%;
  transform: translateX(-50%);
}
.imgText h3{
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  color:#ffffff;
}
.imgText p{
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  color:#ffffff;
  padding-top: 10px;
 
}
.introFlex{
  display: flex;
  justify-content: space-between;
}

 /* ?End Portfolio part  */

 /* ?About Part start  */
 #aboutPart{
  margin-top: 150px;
  margin-bottom: 152px;
 }
 .aboutFlex{
  display: flex;
  justify-content: space-between;
 }
 .aboutImage{
  width: 370px;
  padding: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
 }
 
 .aboutImage p{
   font-weight: 400;
   font-size: 16px;
   color:rgba(24, 24, 24, 0.700) ;
   line-height: 27px;
 }
 
 .aboutImage h3{
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
 }

 .second{
  width: 603px;
  margin: 0;
  text-align: start;
}
.star .fa-solid{
 width: 20px;
 height: 20px;
 color: #FBBF25;
 padding: 29px 0;
}
 i.fa-quote-right{
 font-size: 85px;
 text-align: end;
  color: rgba(89, 86, 232, 0.10);
position: absolute;
right: 30px;
bottom: 22px;
}

 /* ?About Part End */

  /* ?News Part Start  */
#newsPart{
  margin-top: 145px;
  margin-bottom: 100px;
}
.newsImage{
  padding: 18px;
  border: 1px solid #E3E3E3;
  width: 370px;
  border-radius: 10px;
}
.newsImage:hover{
  border-top: 1px solid #E3E3E3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.newsFlex{
  display: flex;
  justify-content: space-between;
}

.newsText p{
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color:#5D5D5D;
  display: inline-block;
  padding-right:30px ;
  margin-bottom: 20px;
  
}
i.fa-sm{
  color: #5D5D5D;
  padding-right: 10px;
}
span{
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color:#5D5D5D;
}
i.fa-calendar{
  color: #5D5D5D;
  padding-right: 10px;
}
.newsText h4{
font-size: 20px;
font-weight: 600;
color: #181818;
padding-top: 15px;
padding-bottom: 23px;
}
.newsText{
padding:12px 20px 20px 20px;
}


  /* ?News Part End  */



  /* footer part start */

#footerPart{
  background: rgba(89, 86, 232, 0.10);
  padding: 70px 0;
}
.footerFlex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  .footerOne{
    width: 300px;
  }
  .footerTwo {
    display: flex;
   align-items: center;
  } 

  .footerOne p{
    font-size: 16px;
    font-weight: 400;
    color: #5D5D5D;
    line-height: 27px;
    padding: 28px 0;
  }
  i.fa-facebook{
    font-size: 40px;
   color:#337FFF ;
   padding-right: 30px;
  }  
  
  i.fa-square-twitter{
    font-size: 40px;
   color:#33CCFF ;
   
  }
  .fotterFlex h4{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 26px;

  } 
   .fotterFlex ul li{
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  color: #5D5D5D;
  

  }


  /* footer part End */